<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="style1Bean" class="com.spring.lifecycle.beans.Style1SpringBean">
	</bean>
	
	<bean id="style2Bean" class="com.spring.lifecycle.beans.Style2SpringBean" init-method="myInit" destroy-method="myDestroy">
	</bean>

</beans>
